In [1]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
from urllib import parse
import numpy as np

In [2]:
url = 'https://www.worldometers.info/coronavirus/'

In [3]:
html_text = requests.get(url).text

In [4]:
#html_text

In [5]:
tree = BeautifulSoup(html_text, "html.parser")

In [6]:
#tree

In [7]:
cols = tree.find('thead').find_all('th')

In [8]:
len(cols)

22

In [9]:
columns = []
for col in cols:
    columns.append(col.text)

In [10]:
lines1 = tree.find('tbody').find_all('tr',{'style':''})
lines2 = tree.find('tbody').find_all('tr',{'style':'background-color:#F0F0F0'})
lines3 = tree.find('tbody').find_all('tr',{'style':'background-color:#EAF7D5'})

In [11]:
lines = lines1 + lines2 + lines3

In [12]:
data = []

for line in lines:
    row = []
    for l in line.find_all('td'):
        row.append(l.text)
    data.append(row)

In [13]:
df = pd.DataFrame(np.array(data), columns=columns)

In [14]:
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,World,"160,720,960","+395,091","3,337,515","+6,596","139,481,568","+445,431","17,901,877","105,804",...,,,,All,\n,,,,,
1,1,USA,"33,554,277","+4,162","597,052",+106,"26,558,619",+481,"6,398,606","8,775",...,"460,458,760","1,384,132","332,669,677",North America,10,557,1,13,0.3,"19,234"
2,2,India,"23,588,999","+248,573","256,940","+2,715","19,611,259","+234,609","3,720,800","8,944",...,"307,583,991","221,022","1,391,642,201",Asia,59,"5,416",5,179,2,"2,674"
3,3,Brazil,"15,285,048",,"425,711",,"13,847,191",,"1,012,146","8,318",...,"46,834,128","218,998","213,856,608",South America,14,502,5,,,"4,733"
4,4,France,"5,800,170",,"106,935",,"4,951,745",,"741,490","4,743",...,"79,617,249","1,217,432","65,397,697",Europe,11,612,1,,,"11,338"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,212,Saint Pierre Miquelon,25,,,,25,,0,,...,"5,318","921,664","5,770",North America,231,,1,,,
219,214,Solomon Islands,20,,,,20,,0,,...,"4,500","6,417","701,257",Australia/Oceania,"35,063",,156,,,
220,218,Marshall Islands,4,,,,4,,0,,...,,,"59,533",Australia/Oceania,"14,883",,,,,
221,220,Saint Helena,2,,,,2,,0,,...,,,"6,093",Africa,"3,047",,,,,
222,221,Micronesia,1,,,,1,,0,,...,,,"116,057",Australia/Oceania,"116,057",,,,,

In [15]:
from datetime import date
today = date.today()
df.to_csv('%s.csv'% str(today))

In [17]:
today = date.today()
str(today)

'2021-05-12'